@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&display=swap");
//Variables

$white: #ffffff;
$black: #191919;
$orange: #ff4d01;
$grey: #605e5d;
$light-grey: #989899;
$hover-orange: #ff7134;
$focus-orange: #cc3e01;

//Global

* {
    margin: 0;
    font-weight: 400;
}

body {
    font-family: "Barlow", sans-serif;
    font-style: normal;
    overflow-x: hidden;
}

button {
    font-family: inherit;
    font-style: normal;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.primary-button {
    background-color: $orange;
    color: $white;
    border: none;
    transition: background-color 250ms ease-in-out;
    padding: 27.5px 38px;
    font-size: 18px;
    line-height: 1.14;

    &:hover {
        background-color: $hover-orange;
    }
    &:focus {
        background-color: $focus-orange;
    }
}

.secondary-button {
    background-color: transparent;
    color: $black;
    border: 2px solid $black;
    transition:
        color 250ms ease-in-out,
        border-color 250ms ease-in-out;
    padding: 26px 40px;
    font-size: 18px;
    line-height: 1.14;

    &:hover {
        color: $hover-orange;
        border-color: $hover-orange;
    }

    &:focus {
        color: $focus-orange;
        border-color: $focus-orange;
    }
}

.vertical-line {
    height: 20px;
    width: 2px;
    background-color: $orange;
}

.image-rectangle {
    position: relative;

    .rectangle {
        position: absolute;
        top: -20px;
        left: -20px;
        width: 204px;
        height: 204px;
        border: 3px solid $orange;
    }
}

.route-title {
    font-size: 20px;
    line-height: 1.1;
    color: $orange;
    letter-spacing: 0.008px;
    text-transform: uppercase;
}

.title {
    font-size: 54px;
    line-height: 1.14;
    color: $black;
}

.description {
    font-size: 18px;
    line-height: 1.66;
    color: $grey;
}

.orange {
    color: $orange;
}

.statistic {
    font-size: 72px;
    line-height: 1.16;
    color: $black;
}

.title-statistic {
    font-size: 18px;
    line-height: 1.14;
    color: $light-grey;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 144px;
    padding-bottom: 144px;
}

//Header

.header {
    padding-left: 146px;
    padding-right: 146px;
    padding-top: 32px;
    margin-bottom: 166px;
}

.header-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    margin: 0;
    padding: 0;

    li a {
        font-size: 18px;
        line-height: 1.66;
        color: $white;
        transition: color 250ms ease-in-out;

        &:hover {
            color: $hover-orange;
        }
    }

    li .primary-button {
        font-size: 16px;
        line-height: 1.125;
        padding: 18px 24px;
    }

    li .vertical-line {
        height: 30px;
    }
}

//Index.html

.hero.section {
    background-image: linear-gradient(rgba(52, 52, 52, 0.6), rgba(52, 52, 52, 0.6)),
        url("../images/hero/hero-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 955px;
    padding-top: 0px;
}

.hero {
    div {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 72px;
            line-height: 1.16;
            color: $white;
            max-width: 660px;
            margin-bottom: 16px;
        }

        p {
            font-size: 18px;
            line-height: 1.66;
            color: $white;
            max-width: 640px;
            margin-bottom: 35px;
        }

        div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 28px;
            height: 75px;
            width: 100%;

            button.secondary-button {
                color: $white;
                border-color: $white;

                &:hover {
                    color: $hover-orange;
                    border-color: $hover-orange;
                }

                &:focus {
                    color: $focus-orange;
                    border-color: $focus-orange;
                }
            }
        }
    }
}

.about-us .container {
    display: flex;
    flex-direction: row;
    gap: 73px;

    .right-side {
        .route-title {
            margin-top: 39px;
            margin-bottom: 15px;
        }

        .title {
            max-width: 522px;
            margin-bottom: 19px;
        }

        .description {
            max-width: 589px;
            margin-bottom: 57px;
        }

        div {
            display: flex;
            flex-direction: row;
            gap: 86px;
            margin-bottom: 48px;
        }

        div div {
            display: flex;
            flex-direction: column;
            gap: 2px;
            text-align: center;
            margin-bottom: 0;
        }
    }
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 64px;

    .title {
        max-width: 424px;
    }

    div {
        display: flex;
        align-items: start;
        gap: 28px;
    }
}

.services-list {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 25px;
    row-gap: 80px;
    padding: 0px;

    li {
        img {
            margin-bottom: 32px;
        }

        h3 {
            font-size: 34px;
            line-height: 1.4;
            color: $black;
            margin-bottom: 14px;
        }

        .description {
            margin-bottom: 13px;
        }

        button {
            display: flex;
            align-items: center;
            background: transparent;
            border: none;
            color: $black;
            transition: color 250ms ease-in-out;

            svg {
                margin-right: 10px;
                fill: currentColor;
            }

            &:hover {
                color: $hover-orange;
            }

            &:focus {
                color: $focus-orange;
            }
        }
    }
}

.bridge.section {
    background-image: url("../images/bridge/bridge-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    div.container {
        margin-left: 146px;
        margin-right: auto;
        max-width: 610px;
        h2 {
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 35px;
        }

        div {
            width: 100%;
            display: flex;
            gap: 28px;
        }
    }
}

.choose-us.section {
    padding-top: 300px;
    position: relative;

    img.background {
        position: absolute;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .top-side-container {
        display: flex;
        flex-direction: row;
        gap: 82px;
        margin-bottom: 100px;

        div.image-rectangle {
            div.rectangle {
                width: 250px;
                height: 250px;
                top: -26px;
                left: -26px;
            }
        }

        div.information-container {
            padding-top: 42px;
            p.route-title {
                margin-bottom: 15px;
            }

            h2 {
                margin-bottom: 19px;
                max-width: 473px;
            }

            p.description {
                margin-bottom: 19px;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 22px;
            padding: 0;
            li {
                display: flex;
                flex-direction: row;
                align-items: center;

                svg {
                    width: 16px;
                    height: 16px;
                    margin-right: 10px;
                    color: $orange;
                }

                p {
                    font-size: 18px;
                    line-height: 1.14;
                    color: $black;
                }
            }
        }
    }

    .bottom-side-container {
        display: flex;
        flex-direction: row;
        gap: 89px;
        div.information-container {
            padding-top: 72px;

            h2 {
                max-width: 525px;
                margin-bottom: 19px;
            }

            p.description {
                margin-bottom: 11px;
            }
        }

        ul {
            display: flex;
            flex-direction: row;
            gap: 40px;
            padding: 0;
            li {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                p.statistic {
                    font-size: 54px;
                    line-height: 1.16;
                }
            }
        }

        div.image-rectangle {
            div.rectangle {
                width: 284px;
                height: 284px;
                top: 280px;
                left: 280px;
            }
        }
    }
}

.our-projects.section {
    div.container {
        display: flex;
        flex-direction: column;
        min-width: 0px;

        p.route-title {
            margin-bottom: 15px;
        }

        div.information-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 137px;
            margin-bottom: 67px;

            h2.title {
                max-width: 602px;
            }
        }

        div.buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 28px;
        }
    }
}

.our-projects-slider {
    .swiper-wrapper {
        margin-bottom: 66px;
    }

    .navigation-buttons {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;

        .swiper-button-prev,
        .swiper-button-next {
            position: relative;
            top: 0;
            left: 0;
            width: fit-content;
            margin-top: 0px;
            color: $orange;
            padding: 36px 25px;
            border: 1px solid $orange;
            transition: opacity 250ms ease-in-out;
        }
    }
}

.slide-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 641px;

    &.construction {
        background-image: linear-gradient(rgba(52, 52, 52, 0.6), rgba(52, 52, 52, 0.6)),
            url("../images/our-projects/image1.jpg");
    }

    &.kitchen {
        background-image: linear-gradient(rgba(52, 52, 52, 0.6), rgba(52, 52, 52, 0.6)),
            url("../images/our-projects/image2.jpg");
    }

    &.office {
        background-image: linear-gradient(rgba(52, 52, 52, 0.6), rgba(52, 52, 52, 0.6)),
            url("../images/our-projects/image3.jpg");
    }
}

.slide-container {
    display: flex;
    justify-content: end;
    align-items: end;
    div.slide-information-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;

        h2.title {
            font-size: 34px;
            font-weight: 400;
            line-height: 1.4;
            color: $white;
            max-width: 361px;
            margin-bottom: 16px;
        }

        p.description {
            font-size: 18px;
            line-height: 1.6;
            margin-bottom: 43px;
            color: $white;
            opacity: 0.9;
        }

        div.rectangle {
            width: 100%;
            height: 1px;
            background-color: $light-grey;
            margin-bottom: 30px;
        }

        div.title-footer-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 6px;

            svg {
                width: 32px;
                height: 32px;
                color: $orange;
            }

            p {
                opacity: 0.9;
                color: $white;
            }
        }
    }
}

.testimonials.section {
    div.container {
        p.route-title {
            margin-bottom: 15px;
        }

        div.information-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 107px;

            h2.title {
                max-width: 530px;
            }

            div.navigation-buttons {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 24px;

                .swiper-button-prev,
                .swiper-button-next {
                    position: relative;
                    top: 0;
                    left: 0;
                    width: fit-content;
                    margin-top: 0px;
                    color: $orange;
                    padding: 36px 25px;
                    border: 1px solid $orange;
                    transition: opacity 250ms ease-in-out;
                }
            }
        }
    }

    div.testimonials-slider {

        div.swiper-wrapper {

            div.swiper-slide {

                div.slide-container-client {
                    display: flex;
                    flex-direction: row;
                    gap: 38px;

                    div.slide-information-client {
                        padding-top: 28px;
                        max-width: 362px;

                        h2.title {
                            font-size: 28px;
                            line-height: 1.35;
                            color: $black;
                            max-width: 276px;
                            margin-bottom: 13px;
                        }

                        p.description {
                            margin-bottom: 35px;
                        }

                        div.client-information-container {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;

                            div.client-information {
                                p.name {
                                    font-size: 18px;
                                    line-height: 1.14;
                                    color: $black;
                                    margin-bottom: 6px;
                                }

                                p.address {
                                    font-size: 14px;
                                    line-height: 1.2;
                                    color: $light-grey;
                                    text-transform: uppercase;
                                }
                            }

                            button {
                                background-color: transparent;
                                border: none;
                                svg {
                                    width: 32px;
                                    height: 32px;
                                    color: $orange;
                                    transition: color 250ms ease-in-out;
                                }

                                &:hover {
                                    svg {
                                        color: $hover-orange;
                                    }
                                }

                                &:focus {
                                    svg {
                                        color: $focus-orange;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
