@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&display=swap");
.fade-out {
  animation: fadeOut 0.5s forwards;
}

.fade-in {
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 0.75;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 0.75;
    transform: translateY(0);
  }
}
* {
  margin: 0;
  font-weight: 400;
}

body {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  overflow-x: hidden;
}

button {
  font-family: inherit;
  font-style: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.primary-button {
  background-color: #ff4d01;
  color: #ffffff;
  border: none;
  transition: background-color 250ms ease-in-out;
  padding: 27.5px 38px;
  font-size: 18px;
  line-height: 1.14;
}
.primary-button:hover {
  background-color: #ff7134;
}
.primary-button:focus {
  background-color: #cc3e01;
}

.secondary-button {
  background-color: transparent;
  color: #191919;
  border: 2px solid #191919;
  transition: color 250ms ease-in-out, border-color 250ms ease-in-out;
  padding: 26px 40px;
  font-size: 18px;
  line-height: 1.14;
}
.secondary-button:hover {
  color: #ff7134;
  border-color: #ff7134;
}
.secondary-button:focus {
  color: #cc3e01;
  border-color: #cc3e01;
}

.vertical-line {
  height: 20px;
  width: 2px;
  background-color: #ff4d01;
}

.image-rectangle {
  position: relative;
}
.image-rectangle .rectangle {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 204px;
  height: 204px;
  border: 3px solid #ff4d01;
}

.route-title {
  font-size: 20px;
  line-height: 1.1;
  color: #ff4d01;
  letter-spacing: 0.008px;
  text-transform: uppercase;
}

.title {
  font-size: 54px;
  line-height: 1.14;
  color: #191919;
}

.description {
  font-size: 18px;
  line-height: 1.66;
  color: #605e5d;
}

.orange {
  color: #ff4d01;
}

.statistic {
  font-size: 72px;
  line-height: 1.16;
  color: #191919;
}

.title-statistic {
  font-size: 18px;
  line-height: 1.14;
  color: #989899;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 144px;
  padding-bottom: 144px;
}

.header {
  padding-left: 146px;
  padding-right: 146px;
  padding-top: 32px;
  margin-bottom: 166px;
}

.header-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
  margin: 0;
  padding: 0;
}
.header-list li a {
  font-size: 18px;
  line-height: 1.66;
  color: #ffffff;
  transition: color 250ms ease-in-out;
}
.header-list li a:hover {
  color: #ff7134;
}
.header-list li .primary-button {
  font-size: 16px;
  line-height: 1.125;
  padding: 18px 24px;
}
.header-list li .vertical-line {
  height: 30px;
}

.hero.section {
  background-image: linear-gradient(rgba(52, 52, 52, 0.6), rgba(52, 52, 52, 0.6)), url("../images/hero/hero-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 955px;
  padding-top: 0px;
}

.hero div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero div h1 {
  font-size: 72px;
  line-height: 1.16;
  color: #ffffff;
  max-width: 660px;
  margin-bottom: 16px;
}
.hero div p {
  font-size: 18px;
  line-height: 1.66;
  color: #ffffff;
  max-width: 640px;
  margin-bottom: 35px;
}
.hero div div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 28px;
  height: 75px;
  width: 100%;
}
.hero div div button.secondary-button {
  color: #ffffff;
  border-color: #ffffff;
}
.hero div div button.secondary-button:hover {
  color: #ff7134;
  border-color: #ff7134;
}
.hero div div button.secondary-button:focus {
  color: #cc3e01;
  border-color: #cc3e01;
}

.about-us .container {
  display: flex;
  flex-direction: row;
  gap: 73px;
}
.about-us .container .right-side .route-title {
  margin-top: 39px;
  margin-bottom: 15px;
}
.about-us .container .right-side .title {
  max-width: 522px;
  margin-bottom: 19px;
}
.about-us .container .right-side .description {
  max-width: 589px;
  margin-bottom: 57px;
}
.about-us .container .right-side div {
  display: flex;
  flex-direction: row;
  gap: 86px;
  margin-bottom: 48px;
}
.about-us .container .right-side div div {
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: center;
  margin-bottom: 0;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 64px;
}
.title-container .title {
  max-width: 424px;
}
.title-container div {
  display: flex;
  align-items: start;
  gap: 28px;
}

.services-list {
  display: grid;
  grid-template-columns: auto auto auto;
  -moz-column-gap: 25px;
       column-gap: 25px;
  row-gap: 80px;
  padding: 0px;
}
.services-list li img {
  margin-bottom: 32px;
}
.services-list li h3 {
  font-size: 34px;
  line-height: 1.4;
  color: #191919;
  margin-bottom: 14px;
}
.services-list li .description {
  margin-bottom: 13px;
}
.services-list li button {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  color: #191919;
  transition: color 250ms ease-in-out;
}
.services-list li button svg {
  margin-right: 10px;
  fill: currentColor;
}
.services-list li button:hover {
  color: #ff7134;
}
.services-list li button:focus {
  color: #cc3e01;
}

.bridge.section {
  background-image: url("../images/bridge/bridge-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bridge.section div.container {
  margin-left: 146px;
  margin-right: auto;
  max-width: 610px;
}
.bridge.section div.container h2 {
  margin-bottom: 20px;
}
.bridge.section div.container p {
  margin-bottom: 35px;
}
.bridge.section div.container div {
  width: 100%;
  display: flex;
  gap: 28px;
}

.choose-us.section {
  padding-top: 300px;
  position: relative;
}
.choose-us.section img.background {
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.choose-us.section .top-side-container {
  display: flex;
  flex-direction: row;
  gap: 82px;
  margin-bottom: 100px;
}
.choose-us.section .top-side-container div.image-rectangle div.rectangle {
  width: 250px;
  height: 250px;
  top: -26px;
  left: -26px;
}
.choose-us.section .top-side-container div.information-container {
  padding-top: 42px;
}
.choose-us.section .top-side-container div.information-container p.route-title {
  margin-bottom: 15px;
}
.choose-us.section .top-side-container div.information-container h2 {
  margin-bottom: 19px;
  max-width: 473px;
}
.choose-us.section .top-side-container div.information-container p.description {
  margin-bottom: 19px;
}
.choose-us.section .top-side-container ul {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 0;
}
.choose-us.section .top-side-container ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.choose-us.section .top-side-container ul li svg {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  color: #ff4d01;
}
.choose-us.section .top-side-container ul li p {
  font-size: 18px;
  line-height: 1.14;
  color: #191919;
}
.choose-us.section .bottom-side-container {
  display: flex;
  flex-direction: row;
  gap: 89px;
}
.choose-us.section .bottom-side-container div.information-container {
  padding-top: 72px;
}
.choose-us.section .bottom-side-container div.information-container h2 {
  max-width: 525px;
  margin-bottom: 19px;
}
.choose-us.section .bottom-side-container div.information-container p.description {
  margin-bottom: 11px;
}
.choose-us.section .bottom-side-container ul {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 0;
}
.choose-us.section .bottom-side-container ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.choose-us.section .bottom-side-container ul li p.statistic {
  font-size: 54px;
  line-height: 1.16;
}
.choose-us.section .bottom-side-container div.image-rectangle div.rectangle {
  width: 284px;
  height: 284px;
  top: 280px;
  left: 280px;
}

.our-projects.section div.container {
  display: flex;
  flex-direction: column;
  min-width: 0px;
}
.our-projects.section div.container p.route-title {
  margin-bottom: 15px;
}
.our-projects.section div.container div.information-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 137px;
  margin-bottom: 67px;
}
.our-projects.section div.container div.information-container h2.title {
  max-width: 602px;
}
.our-projects.section div.container div.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 28px;
}

.our-projects-slider .swiper-wrapper {
  margin-bottom: 66px;
}
.our-projects-slider .navigation-buttons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.our-projects-slider .navigation-buttons .swiper-button-prev,
.our-projects-slider .navigation-buttons .swiper-button-next {
  position: relative;
  top: 0;
  left: 0;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 0px;
  color: #ff4d01;
  padding: 36px 25px;
  border: 1px solid #ff4d01;
  transition: opacity 250ms ease-in-out;
}

.slide-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 641px;
}
.slide-container.construction {
  background-image: linear-gradient(rgba(52, 52, 52, 0.6), rgba(52, 52, 52, 0.6)), url("../images/our-projects/image1.jpg");
}
.slide-container.kitchen {
  background-image: linear-gradient(rgba(52, 52, 52, 0.6), rgba(52, 52, 52, 0.6)), url("../images/our-projects/image2.jpg");
}
.slide-container.office {
  background-image: linear-gradient(rgba(52, 52, 52, 0.6), rgba(52, 52, 52, 0.6)), url("../images/our-projects/image3.jpg");
}

.slide-container {
  display: flex;
  justify-content: end;
  align-items: end;
}
.slide-container div.slide-information-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.slide-container div.slide-information-container h2.title {
  font-size: 34px;
  font-weight: 400;
  line-height: 1.4;
  color: #ffffff;
  max-width: 361px;
  margin-bottom: 16px;
}
.slide-container div.slide-information-container p.description {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 43px;
  color: #ffffff;
  opacity: 0.9;
}
.slide-container div.slide-information-container div.rectangle {
  width: 100%;
  height: 1px;
  background-color: #989899;
  margin-bottom: 30px;
}
.slide-container div.slide-information-container div.title-footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.slide-container div.slide-information-container div.title-footer-container svg {
  width: 32px;
  height: 32px;
  color: #ff4d01;
}
.slide-container div.slide-information-container div.title-footer-container p {
  opacity: 0.9;
  color: #ffffff;
}

.testimonials.section div.container p.route-title {
  margin-bottom: 15px;
}
.testimonials.section div.container div.information-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 107px;
}
.testimonials.section div.container div.information-container h2.title {
  max-width: 530px;
}
.testimonials.section div.container div.information-container div.navigation-buttons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.testimonials.section div.container div.information-container div.navigation-buttons .swiper-button-prev,
.testimonials.section div.container div.information-container div.navigation-buttons .swiper-button-next {
  position: relative;
  top: 0;
  left: 0;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 0px;
  color: #ff4d01;
  padding: 36px 25px;
  border: 1px solid #ff4d01;
  transition: opacity 250ms ease-in-out;
}
.testimonials.section div.testimonials-slider div.swiper-wrapper div.swiper-slide div.slide-container-client {
  display: flex;
  flex-direction: row;
  gap: 38px;
}
.testimonials.section div.testimonials-slider div.swiper-wrapper div.swiper-slide div.slide-container-client div.slide-information-client {
  padding-top: 28px;
  max-width: 362px;
}
.testimonials.section div.testimonials-slider div.swiper-wrapper div.swiper-slide div.slide-container-client div.slide-information-client h2.title {
  font-size: 28px;
  line-height: 1.35;
  color: #191919;
  max-width: 276px;
  margin-bottom: 13px;
}
.testimonials.section div.testimonials-slider div.swiper-wrapper div.swiper-slide div.slide-container-client div.slide-information-client p.description {
  margin-bottom: 35px;
}
.testimonials.section div.testimonials-slider div.swiper-wrapper div.swiper-slide div.slide-container-client div.slide-information-client div.client-information-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.testimonials.section div.testimonials-slider div.swiper-wrapper div.swiper-slide div.slide-container-client div.slide-information-client div.client-information-container div.client-information p.name {
  font-size: 18px;
  line-height: 1.14;
  color: #191919;
  margin-bottom: 6px;
}
.testimonials.section div.testimonials-slider div.swiper-wrapper div.swiper-slide div.slide-container-client div.slide-information-client div.client-information-container div.client-information p.address {
  font-size: 14px;
  line-height: 1.2;
  color: #989899;
  text-transform: uppercase;
}
.testimonials.section div.testimonials-slider div.swiper-wrapper div.swiper-slide div.slide-container-client div.slide-information-client div.client-information-container button {
  background-color: transparent;
  border: none;
}
.testimonials.section div.testimonials-slider div.swiper-wrapper div.swiper-slide div.slide-container-client div.slide-information-client div.client-information-container button svg {
  width: 32px;
  height: 32px;
  color: #ff4d01;
  transition: color 250ms ease-in-out;
}
.testimonials.section div.testimonials-slider div.swiper-wrapper div.swiper-slide div.slide-container-client div.slide-information-client div.client-information-container button:hover svg {
  color: #ff7134;
}
.testimonials.section div.testimonials-slider div.swiper-wrapper div.swiper-slide div.slide-container-client div.slide-information-client div.client-information-container button:focus svg {
  color: #cc3e01;
}

.blog .container p.route-title {
  margin-bottom: 15px;
}
.blog .container div.information-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 66px;
}
.blog .container ul {
  padding: 0;
  -moz-columns: 2;
       columns: 2;
}
.blog .container ul li:first-child {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
.blog .container ul li:first-child div {
  margin-top: 0;
}
.blog .container ul li:first-child div p.title {
  font-size: 34px;
  line-height: 1.4;
  margin-bottom: 8px;
}
.blog .container ul li {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-bottom: 32px;
}
.blog .container ul li div {
  margin-top: 15px;
}
.blog .container ul li div p.title {
  font-size: 28px;
  line-height: 1.35;
  color: #191919;
  margin-bottom: 18px;
}
.blog .container ul li div p.date {
  font-size: 18px;
  line-height: 1.1;
  color: #605e5d;
}

.footer {
  background-color: #000000;
  padding-top: 120px;
  padding-bottom: 120px;
}
.footer div.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 87px;
}
.footer div.container div.information-container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  position: relative;
  margin-top: 40px;
}
.footer div.container div.information-container p.information-text {
  position: relative;
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;
  opacity: 0.75;
  max-width: 175px;
}
.footer div.container div.information-container ul.navigation-buttons {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer div.container div.information-container ul.navigation-buttons li button {
  background-color: #ff4d01;
  color: #ffffff;
  border: none;
  transition: background-color 250ms ease-in-out;
  width: 36px;
  height: 36px;
}
.footer div.container div.information-container ul.navigation-buttons li button:hover {
  background-color: #ff7134;
}
.footer div.container div.information-container ul.navigation-buttons li button:focus {
  background-color: #cc3e01;
}
.footer div.container div.menu-container {
  display: flex;
  flex-direction: column;
}
.footer div.container div.menu-container ul.list {
  -moz-columns: 2;
       columns: 2;
  -moz-column-gap: 28px;
       column-gap: 28px;
}
.footer div.container div.menu-container ul.list li,
.footer div.container div.page-container ul.list li {
  margin-bottom: 17px;
}
.footer div.container div.menu-container ul.list li:last-child,
.footer div.container div.page-container ul.list li:last-child {
  margin-bottom: 0;
}
.footer div.container div.menu-container ul.list li a,
.footer div.container div.page-container ul.list li a {
  font-size: 18px;
  line-height: 1.14;
  color: #ffffff;
  opacity: 0.75;
  transition: color 250ms ease-in-out, opacity 250ms ease-in-out;
}
.footer div.container div.menu-container ul.list li a:hover,
.footer div.container div.page-container ul.list li a:hover {
  color: #ff7134;
  opacity: 1;
}
.footer div.container div.menu-container h3.title,
.footer div.container div.page-container h3.title,
.footer div.container div.contact-container h3.title {
  font-size: 22px;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 40px;
  align-self: center;
}
.footer div.container div.contact-container ul.list li {
  display: flex;
  flex-direction: row;
  border: 2px solid #ff4d01;
  padding: 28px;
  margin-bottom: 18px;
}
.footer div.container div.contact-container ul.list li:last-child {
  margin-bottom: 0;
}
.footer div.container div.contact-container ul.list li svg {
  width: 48px;
  height: 48px;
  color: #ffffff;
  background-color: #ff4d01;
  padding: 4px;
  margin-right: 16px;
}
.footer div.container div.contact-container ul.list li div p,
.footer div.container div.contact-container ul.list li div a {
  font-size: 16px;
  line-height: 1.1;
  color: #ffffff;
}
.footer div.container div.contact-container ul.list li div p {
  margin-bottom: 6px;
}
.footer div.container div.contact-container ul.list li div a {
  opacity: 0.75;
  transition: color 250ms ease-in-out, opacity 250ms ease-in-out;
}
.footer div.container div.contact-container ul.list li div a:hover {
  color: #ff7134;
  opacity: 1;
}/*# sourceMappingURL=style.css.map */