@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&display=swap");
//Variables

$white: #ffffff;
$black: #191919;
$orange: #ff4d01;
$grey: #605e5d;
$light-grey: #989899;
$hover-orange: #ff7134;
$focus-orange: #cc3e01;

//Global

* {
    margin: 0;
    font-weight: 400;
}

body {
    font-family: "Barlow", sans-serif;
    font-style: normal;
}

button {
    font-family: inherit;
    font-style: normal;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.primary-button {
    background-color: $orange;
    color: $white;
    border: none;
    transition: background-color 250ms ease-in-out;
    padding: 27.5px 38px;
    font-size: 18px;
    line-height: 1.14;

    &:hover {
        background-color: $hover-orange;
    }
    &:focus {
        background-color: $focus-orange;
    }
}

.secondary-button {
    background-color: transparent;
    color: $black;
    border: 2px solid $black;
    transition:
        color 250ms ease-in-out,
        border-color 250ms ease-in-out;
    padding: 26px 40px;
    font-size: 18px;
    line-height: 1.14;

    &:hover {
        color: $hover-orange;
        border-color: $hover-orange;
    }

    &:focus {
        color: $focus-orange;
        border-color: $focus-orange;
    }
}

.vertical-line {
    height: 20px;
    width: 2px;
    background-color: $orange;
}

.image-corner-rectangle {
    position: relative;

    .cover-corner {
        position: absolute;
        top: -1px;
        left: -1px;
        width: 100px;
        height: 100px;
        background-color: $white;
        clip-path: polygon(0 0, 100% 0, 0 100%);
    }

    .rectangle {
        position: absolute;
        top: -20px;
        left: -20px;
        width: 204px;
        height: 204px;
        border: 3px solid $orange;
    }
}

.route-title {
    font-size: 20px;
    line-height: 1.1;
    color: $orange;
    letter-spacing: 0.008px;
    text-transform: uppercase;
}

.title {
    font-size: 54px;
    line-height: 1.14;
    color: $black;
}

.description {
    font-size: 18px;
    line-height: 1.66;
    color: $grey;
}

.orange {
    color: $orange;
}

.statistic {
    font-size: 72px;
    line-height: 1.16;
    color: $black;
}

.title-statistic {
    font-size: 18px;
    line-height: 1.14;
    color: $light-grey;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 144px;
    padding-bottom: 144px;
}

//Header

.header {
    padding-left: 146px;
    padding-right: 146px;
    padding-top: 32px;
    margin-bottom: 166px;
}

.header-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    margin: 0;
    padding: 0;

    li a {
        font-size: 18px;
        line-height: 1.66;
        color: $white;
        transition: color 250ms ease-in-out;

        &:hover {
            color: $hover-orange;
        }
    }

    li .primary-button {
        font-size: 16px;
        line-height: 1.125;
        padding: 18px 24px;
    }

    li .vertical-line {
        height: 30px;
    }
}

//Index.html

.hero.section {
    background-image: linear-gradient(rgba(52, 52, 52, 0.6), rgba(52, 52, 52, 0.6)),
        url("../images/hero/hero-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 955px;
    padding-top: 0px;
}

.hero {
    div {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 72px;
            line-height: 1.16;
            color: $white;
            max-width: 660px;
            margin-bottom: 16px;
        }

        p {
            font-size: 18px;
            line-height: 1.66;
            color: $white;
            max-width: 640px;
            margin-bottom: 35px;
        }

        div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 28px;
            height: 75px;
            width: 100%;

            button.secondary-button {
                color: $white;
                border-color: $white;

                &:hover {
                    color: $hover-orange;
                    border-color: $hover-orange;
                }

                &:focus {
                    color: $focus-orange;
                    border-color: $focus-orange;
                }
            }
        }
    }
}

.about-us .container {
    display: flex;
    flex-direction: row;
    gap: 73px;

    .right-side {
        .route-title {
            margin-top: 39px;
            margin-bottom: 15px;
        }

        .title {
            max-width: 522px;
            margin-bottom: 19px;
        }

        .description {
            max-width: 589px;
            margin-bottom: 57px;
        }

        div {
            display: flex;
            flex-direction: row;
            gap: 86px;
            margin-bottom: 48px;
        }

        div div {
            display: flex;
            flex-direction: column;
            gap: 2px;
            text-align: center;
            margin-bottom: 0;
        }
    }
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 64px;

    .title {
        max-width: 424px;
    }

    div {
        display: flex;
        align-items: start;
        gap: 28px;
    }
}

.services-list {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 25px;
    row-gap: 80px;
    padding: 0px;

    li {
        img {
            margin-bottom: 32px;
        }

        h3 {
            font-size: 34px;
            line-height: 1.4;
            color: $black;
            margin-bottom: 14px;
        }

        .description {
            margin-bottom: 13px;
        }

        button {
            display: flex;
            align-items: center;
            background: transparent;
            border: none;
            color: $black;
            transition: color 250ms ease-in-out;

            svg {
                margin-right: 10px;
                fill: currentColor;
            }

            &:hover {
                color: $hover-orange;
            }

            &:focus {
                color: $focus-orange;
            }
        }
    }
}

.bridge.section {
    background-image: url("../images/bridge/bridge-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    div.container {
        margin-left: 146px;
        margin-right: auto;
        max-width: 610px;
        h2 {
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 35px;
        }

        div {
            width: 100%;
            display: flex;
            gap: 28px;
        }
    }
}
