@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&display=swap");
* {
  margin: 0;
  font-weight: 400;
}

body {
  font-family: "Barlow", sans-serif;
  font-style: normal;
}

button {
  font-family: inherit;
  font-style: normal;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.primary-button {
  background-color: #ff4d01;
  color: #ffffff;
  border: none;
  transition: background-color 250ms ease-in-out;
}
.primary-button:hover {
  background-color: #ff7134;
}
.primary-button:focus {
  background-color: #cc3e01;
}

.secondary-button {
  background-color: transparent;
  color: #191919;
  border: 2px solid #191919;
  transition: color 250ms ease-in-out, border-color 250ms ease-in-out;
}
.secondary-button:hover {
  color: #ff7134;
  border-color: #ff7134;
}
.secondary-button:focus {
  color: #cc3e01;
  border-color: #cc3e01;
}

.vertical-line {
  height: 20px;
  width: 2px;
  background-color: #ff4d01;
}

.image-corner-rectangle {
  position: relative;
}
.image-corner-rectangle .cover-corner {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
          clip-path: polygon(0 0, 100% 0, 0 100%);
}
.image-corner-rectangle .rectangle {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 204px;
  height: 204px;
  border: 3px solid #ff4d01;
}

.route-title {
  font-size: 20px;
  line-height: 1.1;
  color: #ff4d01;
  letter-spacing: 0.008px;
  text-transform: uppercase;
}

.title {
  font-size: 54px;
  line-height: 1.14;
  color: #191919;
}

.description {
  font-size: 18px;
  line-height: 1.66;
  color: #605e5d;
}

.orange {
  color: #ff4d01;
}

.statistic {
  font-size: 72px;
  line-height: 1.16;
  color: #191919;
}

.title-statistic {
  font-size: 18px;
  line-height: 1.14;
  color: #989899;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 144px;
  padding-bottom: 144px;
}

.header {
  padding-left: 146px;
  padding-right: 146px;
  padding-top: 32px;
  margin-bottom: 166px;
}

.header-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
  margin: 0;
  padding: 0;
}
.header-list li a {
  font-size: 18px;
  line-height: 1.66;
  color: #ffffff;
  transition: color 250ms ease-in-out;
}
.header-list li a:hover {
  color: #ff7134;
}
.header-list li .primary-button {
  font-size: 16px;
  line-height: 1.125;
  padding: 18px 24px;
}
.header-list li .vertical-line {
  height: 30px;
}

.hero.section {
  background-image: linear-gradient(rgba(52, 52, 52, 0.6), rgba(52, 52, 52, 0.6)), url("../images/hero/hero-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 955px;
  padding-top: 0px;
}

.hero div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero div h1 {
  font-size: 72px;
  line-height: 1.16;
  color: #ffffff;
  max-width: 660px;
  margin-bottom: 16px;
}
.hero div p {
  font-size: 18px;
  line-height: 1.66;
  color: #ffffff;
  max-width: 640px;
  margin-bottom: 35px;
}
.hero div div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 28px;
  height: 75px;
  width: 100%;
}
.hero div div button {
  height: 100%;
  width: 180px;
  color: #ffffff;
}
.hero div div button.secondary-button {
  border-color: #ffffff;
}
.hero div div button.secondary-button:hover {
  color: #ff7134;
  border-color: #ff7134;
}
.hero div div button.secondary-button:focus {
  color: #cc3e01;
  border-color: #cc3e01;
}

.about-us .container {
  display: flex;
  flex-direction: row;
  gap: 73px;
}
.about-us .container .right-side .route-title {
  margin-top: 39px;
  margin-bottom: 15px;
}
.about-us .container .right-side .title {
  max-width: 522px;
  margin-bottom: 19px;
}
.about-us .container .right-side .description {
  max-width: 589px;
  margin-bottom: 57px;
}
.about-us .container .right-side div {
  display: flex;
  flex-direction: row;
  gap: 86px;
  margin-bottom: 48px;
}
.about-us .container .right-side div div {
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: center;
  margin-bottom: 0;
}
.about-us .container .right-side button {
  padding: 28px 40px;
}/*# sourceMappingURL=style.css.map */