.feedback-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }

    &__wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 528px;
        background-color: $white;
        opacity: 1;
        box-shadow:
            0px 2px 1px 0px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14),
            0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        padding-inline: 40px;
        padding-block: 40px;

        @include mobile {
            min-width: 0;
        }
    }

    &__title {
        color: $black;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.03em;
        margin-bottom: 12px;
        text-align: center;
    }

    &__button {
        &-close {
            display: block;
            position: relative;
            top: -25px;
            right: -20px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: $white;
            border: 1px solid rgba(0, 0, 0, 0.1);
            cursor: pointer;
            margin-left: auto;

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 15px;
                height: 2px;
                background-color: $black;
                transform-origin: center;
                transition-duration: $transition-duration;
                transition-timing-function: ease-in-out;
            }

            &::before {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &::after {
                transform: translate(-50%, -50%) rotate(-45deg);
            }

            &:hover {
                &::before,
                &::after {
                    background-color: $hover-orange;
                }
            }
        }

        &-submit {
            background: $orange;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border: none;
            padding: 10px 52px;
            color: $white;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.875;
            letter-spacing: 0.06em;
            transition: background-color 300ms ease-in-out;
            align-self: center;
            margin-bottom: 20px;

            &:hover {
                background-color: $hover-orange;
            }
        }
    }

    &__icon {
        position: absolute;
        color: inherit;
        top: 31px;
        left: 10px;
        transition: color 300ms ease-in-out;

        &:hover {
            color: $orange;
        }

        &-cross {
            width: 18px;
            height: 18px;
            color: inherit;
            transition: color 300ms ease-in-out;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__input {
        &-wrapper {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            position: relative;
        }

        @include fluid-text(16, 14);

        &[type="text"],
        &[type="email"] {
            width: 100%;
            height: 100%;
            border: 1px #21212133 solid;
            padding: 11px 11px 11px 42px;
            transition: border-color 300ms ease-in-out;
            outline: none;

            &:hover,
            &:focus {
                border-color: $orange;
            }
        }
    }

    &__input:hover + &__icon,
    &__input:focus + &__icon {
        color: $orange;
    }

    &__label {
        font-size: 12px;
        color: $light-grey;
        line-height: 1.17;
        letter-spacing: 0.01em;
        margin-bottom: 4px;
    }

    &__textarea {
        &-wrapper {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            position: relative;
        }

        height: 120px;
        width: 100%;
        border: 1px #21212133 solid;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.01em;
        padding: 13px 37px;
        resize: none;
        transition: border-color 300ms ease-in-out;
        outline: none;

        &:hover,
        &:focus {
            border-color: $orange;
        }
    }

    &__textarea:hover + &__icon,
    &__textarea:focus + &__icon {
        color: $orange;
    }

    &__send-status {
        @include fluid-text(18, 14);

        text-align: center;
        justify-self: flex-end;

        &.status-ok {
            color: #289F41;
        }

        &.status-error {
            color: #ED2939;
        }
    }
}
