.blog {
    &__route {
        @include mobile {
            text-align: center;
        }
    }

    &__title-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;

        @include tablet {
            align-items: center;
            margin-bottom: 30px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 24px;
        row-gap: 27px;

        @include tablet {
            grid-template-columns: auto;
        }
    }

    &__item {
        display: flex;
        column-gap: 24px;

        @include tablet {
            flex-direction: column;
        }

        &-image {
            @include tablet {
                width: 100%;
                height: 100%;
            }
        }

        &-content {
            &-wrapper {
                padding-block: 14px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @include tablet {
                    align-items: center;
                }
            }

            &-title {
                max-width: 511px;
                
                @include tablet {
                    max-width: none;
                    text-align: center;
                }
            }

            &-date {
                color: $grey;
            }
        }

        &:first-child {
            grid-row: 1 / 4;
            flex-direction: column;
        }
    }
}
