.bridge-background {
    background-image: url("../images/bridge/bridge-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include tablet {
        background-image: linear-gradient(rgba(52, 52, 52, 0.5), rgba(52, 52, 52, 0.7)),
            url("../images/bridge/bridge-background.jpg");
    }
}

.bridge {
    &__title {
        margin-bottom: 20px;
        max-width: 604px;

        @include tablet {
            text-align: center;
            margin-inline: auto;
            color: $white;
        }
    }

    &__description {
        margin-bottom: 35px;
        max-width: 574px;
        color: $grey;

        @include tablet {
            text-align: center;
            margin-inline: auto;
            color: $white;
        }
    }

    &__buttons-wrapper {
        display: flex;
        gap: 28px;

        @include tablet {
            justify-content: center;
        }
    }

    &__button {
        @include mobile {
            height: 50px;
        }
    }
}
