.footer {
    background-color: $black;
    color: $light-white;
    padding-bottom: 30px;

    &__inner {
        display: flex;
        flex-direction: column;
        row-gap: 160px;

        @include tablet {
            row-gap: 50px;
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 60px;

        @include tablet {
            flex-direction: column;
        }
    }

    &__template-information {
        display: flex;
        justify-content: space-between;

        &-text {
            color: $light-grey;
        }
    }

    &__toggle {
        padding-top: 65px;

        @include tablet {
            margin-bottom: 50px;
        }

        &-text {
            margin-bottom: 35px;
            max-width: 175px;
            text-align: center;
        }

        &-list {
            display: flex;
            column-gap: 16px;
        }

        &-item {
            @include flex-center(true);
            @include square(36px);

            background-color: $orange;
        }
    }

    &__menu-title,
    &__contact-title {
        margin-bottom: 40px;
        
        @include tablet {
            text-align: center;
            margin-bottom: 20px;
        }
    }

    &__menu {
        
        @include tablet {
            margin-bottom: 50px;    
        }

        &-title {
            color: $white;
        }

        &-list {
            display: grid;
            grid-template-columns: auto auto;
            row-gap: 17px;
            column-gap: 50px;

            @include tablet {
                text-align: center;
            }
        }

        &-link {
            @include hover {
                color: $hover-orange;
            }
        }
    }

    &__contact {

        &-title {
            color: $white;
        }

        &-list {
            display: flex;
            flex-direction: column;
            row-gap: 18px;
        }

        &-item {
            display: flex;
            column-gap: 16px;
            border: 2px solid $orange;
            padding: 30px;

            &-svg {
                color: $white;
                background-color: $orange;
                padding: 6px;
            }

            &-link {
                @include hover {
                    color: $hover-orange;
                }
            }
        }
    }
}
