.header {
    padding-top: 32px;

    @include mobile {
        padding-top: 16px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 24px;

        @include mobile {
            height: 48px;
            column-gap: 0;
        }
    }

    &__menu {
        margin-left: auto;

        &-list {
            display: flex;
            align-items: center;
            column-gap: 32px;
        }

        &-link {
            display: inline-flex;
            align-items: center;
            height: 48px;
            color: $white;

            @include hover {
                color: $orange;
            };
        }
    }

    &__logo {
        color: $orange;
        box-shadow: 0 2px;
    }
}