.hero-background {
    background-image: linear-gradient(rgba(52, 52, 52, 0.6), rgba(52, 52, 52, 0.6)),
        url("../images/hero/hero-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 0px;
    padding-bottom: 344px;

    @include mobile {
        padding-bottom: 200px;
    }
}

.hero {
    @include flex-center;

    flex-direction: column;
    color: $white;
    padding-top: 166px;

    @include mobile {
        padding-top: 60px;
    }

    &__title,
    &__description {
        max-width: 660px;
        text-align: center;
    }

    &__title {
        margin-bottom: 16px;
    }

    &__description {
        margin-bottom: 35px;
    }

    &__buttons-wrapper {
        @include flex-center;
        column-gap: 28px;
    }
}
