.our-projects {

    &__route {
        @include mobile {
            text-align: center;
        }
    }

    &__title-wrapper {
        display: flex;
        margin-bottom: 64px;

        @include mobile {
            flex-direction: column;
            margin-bottom: 30px;
        }
    }

    &__title {
        @include mobile {
            text-align: center;
            margin-bottom: 15px;
        }
    }

    &__buttons-wrapper {
        display: flex;
        align-items: center;
        column-gap: 28px;

        @include mobile {
            justify-content: center;
        }
    }

    &__button {
        @include mobile {
            height: 50px;
            padding-inline: 25px;
        }
    }

    &__swiper {
        &-slide {
            position: relative;
        }

        &-image {
            filter: brightness(75%);
            width: 100%;
            height: 100%;
        }

        &-content {
            &-wrapper {
                position: absolute;
                top: 75%;
                left: 0px;
                translate: 0 -75%;
                max-width: 485px;
                padding-inline: 30px;
            }

            &-title {
                color: $white;
                margin-bottom: 16px;
            }

            &-description {
                color: $light-white;
                margin-bottom: 43px;

                @include mobile {
                    margin-bottom: 15px;
                }
            }

            &-horizontal-line {
                width: 100%;
                height: 1px;
                background-color: $light-grey;
                margin-bottom: 30px;

                @include mobile {
                    margin-bottom: 15px;
                }
            }

            &-mark-wrapper {
                display: flex;
                align-items: center;
                column-gap: 10px;
            }

            &-mark-icon {
                color: $orange;
            }

            &-mark-text {
                color: $light-white;
            }
        }

        &-buttons-wrapper {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 24px;
            margin-top: 30px;

            @include mobile {
                margin-top: 15px;
            }
        }

        &-button-prev,
        &-button-next {
            position: relative !important;
            top: 0 !important;
            left: 0 !important;
            width: fit-content !important;
            margin-top: 0px !important;
            color: $orange !important;
            padding: 36px 25px !important;
            border: 1px solid $orange !important;
        }
    }
}
