.testimonials {
    &__route {
        @include mobile {
            text-align: center;
        }
    }

    &__title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;

        @include mobile {
            flex-direction: column;
        }
    }

    &__title {
        max-width: 530px;

        @include mobile {
            text-align: center;
            margin-bottom: 30px;
        }
    }

    &__swiper {
        &-buttons-wrapper {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 24px;
        }
    
        &-button-prev,
        &-button-next {
            position: relative !important;
            top: 0 !important;
            left: 0 !important;
            width: fit-content !important;
            margin-top: 0px !important;
            color: $orange !important;
            padding: 36px 25px !important;
            border: 1px solid $orange !important;
        }


        &-slide {
            display: flex !important;
            flex-direction: row;
            column-gap: 38px;

            @include mobile {
                flex-direction: column;
            }

            &-image {
                @include mobile {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &-content {

            &-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                padding-top: 30px;

                @include mobile {
                    padding-top: 15px;
                    row-gap: 15px;
                }
            }

            &-title {
                max-width: 276px;
                
                @include mobile {
                    text-align: center;
                }
            }

            &-description {
                max-width: 360px;
                color: $light-grey;

                @include mobile {
                    text-align: center;
                    
                }
            }

            &-client {

                &-wrapper {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    @include mobile {
                        justify-content: space-evenly;
                    }
                }

                &-title {
                    margin-bottom: 6px;
                }

                &-description {
                    color: $light-grey;
                    text-transform: uppercase;
                }

                &-link {
                    color: $orange;

                    @include hover {
                        color: $hover-orange;
                    }
                }
            }
        }
    }
}
