.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.section {
    padding-top: 144px;
    padding-bottom: 144px;

    @include tablet {
        padding-top: 66px;
        padding-bottom: 66px;
    }
}

.primary-button,
.secondary-button {
    height: 75px;
}

.primary-button {
    @include flex-center(true);

    background-color: $orange;
    color: $white;
    border: none;
    font-size: 18px;
    line-height: 1.14;
    padding-inline: 38px;

    @include hover {
        background-color: $hover-orange;
    }

    @include mobile {
        padding-inline: 24px;
    }
}

.secondary-button {
    @include flex-center(true);

    background-color: transparent;
    border: 2px solid;
    padding-inline: 40px;

    &.white {
        color: $white;
        border-color: $white;
    }

    &.black {
        color: $black;
        border-color: $black;
    }

    @include hover {
        color: $hover-orange;
        border-color: $hover-orange;
    }

    @include mobile {
        padding-inline: 26px;
    }
}

.burger-button {
    @include reset-button;

    position: relative;
    color: white;

    &::after {
        content: "";
        position: absolute;
        left: 110%;
        top: 50%;
        width: 50%;
        height: 2px;
        background-color: $white;
        border-radius: 5px;
        box-shadow:
            0 -6px $white,
            0 6px $white;
        transition:
            background-color $transition-duration ease-in-out,
            color $transition-duration ease-in-out;
    }

    @include hover {
        &::after {
            background-color: $hover-orange;
            color: $hover-orange;
        }
    }
}

.cross-button {
    @include reset-button;
    @include square(48px);

    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 7px;
        width: 70%;
        height: 2px;
        background-color: $black;
        border-radius: 5px;
        transition: background-color $transition-duration ease-in-out;
    }

    &::before {
        rotate: 45deg;
    }

    &::after {
        rotate: -45deg;
    }

    @include hover {
        &::before,
        &::after {
            background-color: $hover-orange;
        }
    }
}

.route-title {
    color: $orange;
    letter-spacing: 0.008px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.orange-square-top-left {
    position: relative;

    &::after {
        @include square(204px);

        content: "";
        position: absolute;
        top: -20px;
        left: -20px;
        border: 3px solid $orange;
    }
}

.orange-square-bottom-right {
    position: relative;

    &::after {
        @include square(284px);

        content: "";
        position: absolute;
        top: 280px;
        left: 280px;
        border: 3px solid $orange;
    }
}

.orange-text {
    color: $orange;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

.hidden-mobile {
    @include mobile {
        display: none !important;
    }
}

.visible-mobile {
    @include mobile-above {
        display: none !important;
    }
}

.hidden-tablet {
    @include tablet {
        display: none !important;
    }
}

.visible-tablet {
    @include tablet-above {
        display: none !important;
    }
}
