* {
    margin: 0;
    font-weight: 400;
}

body {
    font-family: "Barlow", sans-serif;
    font-style: normal;
}

button {
    font-family: inherit;
    font-style: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}
